body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background: #333;
    color: white;
    padding: 20px;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 15px;
}
nav a {
    color: white;
    text-decoration: none;
}
section {
    margin: 50px auto;
    max-width: 800px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
footer {
    background: #333;
    color: white;
    padding: 10px;
    margin-top: 20px;
}
/* Mode sombre */
.dark-mode {
    background-color: #1a1a1a;
    color: white;
}

/* Header et footer en mode sombre */
.dark-mode header, .dark-mode footer {
    background-color: #000;
}

/* Liens en mode sombre */
.dark-mode a {
    color: #1e90ff; /* Bleu clair */
}

